body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* Header */

.jumbotron {
  text-align: center;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  background-image: url(../assets/images/background.jpg);
}

button#clear-cal {
  margin-top: 10px;
}

/* Time Block Elements */

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  padding: 10px;
  text-align: right;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  border-top: 1px dashed #000000;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/* Color coding for event blocks */

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

/* Save button */

.saveBtn {
  font-size: 1.5em;
  border-left: 1px solid black;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  color: rgb(31, 30, 30);
  transition: all .3s ease-in-out;
}

.saveBtn:focus {
  outline: none;
}
